    {% extends '@Admin/base.html.twig' %}
{% block navegacion %}
{{ include('@Admin/partials/navegacion.html.twig',{'menu':'Raloy Lubricantes','submenu':'Familia'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.js') }}"></script><script>
    $(document).ready(function(){
        $('#myTable').DataTable();
    });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Familia</h3>
               {#<p class="text-muted m-b-30">{{ Familia</p>#}
                <table id="myTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>No.</th>             <th>Nombre</th>                            <th>Orden</th>                            <th>Activo</th>          <th>Actualizado</th>                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for familium in familias %}
                    <tr>
                        <td>{{ i }}</td>     <td>{{ familium.nombre }}</td>       <td>{{ familium.orden }}</td>                                <td>{{ familium.activo|sino }}</td>                         <td>{% if familium.updatedat %}{{ familium.updatedat|date('Y-m-d') }}{% endif %}</td>                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <a href="{{ path('familia_show', { 'id': familium.id }) }}" data-toggle="tooltip" title="Ver" class="btn btn-default"><i class="fa fa-list-ul"></i></a>
                                        <a href="{{ path('familia_edit', { 'id': familium.id }) }}" data-toggle="tooltip" title="Editar" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                    </div>
                                </td>
                    </tr>
                    {% set i=i+1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endblock %}
