{% extends '@Frontend/layoutBio.html.twig' %}

{% block opengraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Quiénes Somos | Raloy Lubricantes" />
    <meta property="og:description" content="En Raloy nos dedicamos a la fabricación y comercialización de aceites
    lubricantes automotrices e industriales, grasas, anticongelantes, líquido para frenos y aditivos." />
    <meta property="og:image" content="{{ asset('assets/images/logo.png') }}" />
{% endblock %}

{% block titulo %}Quiénes Somos{% endblock %}

{% block facebook %}
    <div class="fb-share-button" data-href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" data-layout="box_count" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}&amp;src=sdkpreparse">
            Compartir
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="col-sm-8 col-sm-push-4 otherside">
        <div class="row">
            <div class="col-sm-12">
                <div class="intro">
                    <p>Somos una empresa 100% mexicana ubicada en el Parque Industral de Santiago Tianguistenco, en el Estado de México, con 35 años de experiencia.En Raloy nos dedicamos a la fabricación y comercialización de aceites lubricantes
                        automotrices e industriales, grasas, anticongelantes, líquido para frenos y aditivos. </p>
                    <p>Nuestro continuo esfuerzo nos ha posicionado como la 5ta. empresa productora de lubricante en el país. Proveemos soluciones en lubricación a las principales armadoras OEM's (Equipos Originales), importantes grupos flotilleros
                        de carga y pasaje, industria en general y atendemos actualmente al mercado de consumidor final. </p>
                </div>
            </div>
            <div class="col-sm-6"><img src="{{ asset('assets/images/about_2.png') }}"></div>
            <div class="col-sm-6"><img src="{{ asset('assets/images/about_4.png') }}"></div>
            <div class="col-sm-6"><img src="{{ asset('assets/images/about_3.png') }}"></div>
            <div class="col-sm-6"><img src="{{ asset('assets/images/about_1.png') }}"></div>
        </div>
    </div>
{% endblock %}