{% extends '@Frontend/layout.html.twig' %}

{% block opengraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ articulo.nombre|title }} | Raloy Lubricantes" />
    <meta property="og:description" content="{{ articulo.metadesc }}" />
    <meta property="og:image" content="{{ image }}" />
{% endblock %}

{% block title %} {{ articulo.nombre|title }} | {{ parent() }}{% endblock %}

{% block body %}
    <style>
        .html img{
            width: 100%!important;
            height: auto!important;
        }
    </style>
    <div class="container content">
        <h2 class="text-center title">{{ articulo.nombre }}</h2>
        <div class="row us">
            <div class="col-sm-12">
                <div class="box-shadow html">
                    {{ articulo.contenido|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}