{% extends '@Frontend/layoutCat.html.twig' %}

{% block metas %}
    <meta name="keywords" content="{{ categoria.metakeys }}">
    <meta name="description" content="{{ categoria.metadesc }}">
{% endblock %}

{% block opengraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Linea {{ categoria.nombre }} | Raloy Lubricantes" />
    <meta property="og:description" content="{{ categoria.descripcion|striptags|convert_encoding('UTF-8','HTML-ENTITIES') }}" />
    <meta property="og:image" content="{{ absolute_url(asset('uploads/images/'~categoria.imagen)) }}" />
{% endblock %}

{% block titulo %}{{ categoria.nombre }}{% endblock %}

{% block titleStyle %}
    style="background-image: linear-gradient(to bottom,{{ newRGB }} 0,{{ categoria.color }} 100%);"
{% endblock %}

{% block interes %}
    {% for link in interes %}
        <li><a href="{{ path('category',{"slug":link.slug}) }}">Línea {{ link.nombre }}</a></li>
    {% endfor %}
{% endblock %}

{% block familias %}
    <div class="panel-group" role="tablist" aria-multiselectable="true" id="accordion-1">
        {% set i = 1 %}
        {% for familia in categoria.familias %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-{{ i }}">{{ familia.nombre }}</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse item-{{ i }}" role="tabpanel">
                    <div class="panel-body">
                        {% for producto in familia.productos %}
                            <a href="{{ path('product',{"slug":producto.slug}) }}">{{ producto.nombre }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% set i=i+1 %}
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div class="col-sm-8 col-sm-push-4 otherside products-other">
        <div class="row">
            <div class="col-sm-12">
                <div class="intro products-intro">
                    {{ categoria.descripcion|raw }}
                </div>
            </div>
            <div class="col-sm-12"><img src="{{ asset('uploads/images/'~categoria.imagen) }}" class="img-responsive"></div>
        </div>
    </div>
{% endblock %}