{% extends '@Frontend/layout.html.twig' %}

{% block opengraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Contacto | Raloy Lubricantes" />
    <meta property="og:description" content="Contáctanos" />
    <meta property="og:image" content="{{ absolute_url(asset('assets/images/logo.png')) }}" />
{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('admin/plugins/bower_components/sweetalert/sweetalert.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('admin/plugins/bower_components/sweetalert/sweetalert.min.js') }}"></script>
{% endblock %}

{% block title %}Contacto | {{ parent() }}{% endblock %}

{% block body %}
    {% if enviado==1 %}
        <script type="text/javascript">
            $(document).ready(function () {
                swal({
                        title: "Mensaje Enviado!",
                        text: "Gracias!<br>Pronto te contactaremos.",
                        type: "success",
                        html:true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "OK!",
                        closeOnConfirm: true
                    });

            });
        </script>
    {% endif %}
    <div class="container content">
        <h2 class="text-center title">CONTACTO RALOY</h2>
        <div class="row us">
            <div class="col-sm-10 col-sm-offset-1 contact-section">
                {{ form_start(form,  {'action':path('contact')}) }}
                    <h5 class="text-center">Ingrese los datos al formulario, los campos marcados con * son necesarios para poder contactarnos con usted.</h5>
                    <h5 class="text-center">Todos sus datos serán tratados con confidencialidad.</h5>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* País:</label>
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.pais, {'attr': {'class': 'form-control  input-sm'} }) }}
                            {% if form.pais.vars.errors|length > 0 %}
                                <p class="help-block">
                                    {% for error in form.pais.vars.errors %}
                                        {{ error.message }} <br/>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* Tema:</label>
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.tema, {'attr': {'class': 'form-control  input-sm'} }) }}
                            {% if form.tema.vars.errors|length > 0 %}
                                <p class="help-block">
                                    {% for error in form.tema.vars.errors %}
                                        {{ error.message }} <br/>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label des">* Correo Electrónico:</label>
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control  input-sm'} }) }}
                            {% if form.email.vars.errors|length > 0 %}
                                <p class="help-block">
                                    {% for error in form.email.vars.errors %}
                                        {{ error.message }} <br/>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* Cliente Actual:</label>
                        </div>
                        <div class="col-xs-7">
                            {% for option in form.cliente %}
                                {{ form_widget(option) }} {{ form_label(option) }}<br>
                            {% endfor %}
                            {% if form.cliente.vars.errors|length > 0 %}
                                <p class="help-block">
                                    {% for error in form.cliente.vars.errors %}
                                        {{ error.message }} <br/>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* Descripción, pregunta o requerimiento:</label>
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.descripcion, {'attr': {'class': 'form-control  input-sm'} }) }}
                            {% if form.descripcion.vars.errors|length > 0 %}
                                <p class="help-block">
                                    {% for error in form.descripcion.vars.errors %}
                                        {{ error.message }} <br/>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* Nombre(s):</label>
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.nombre, {'attr': {'class': 'form-control  input-sm'} }) }}
                            {% if form.nombre.vars.errors|length > 0 %}
                                <p class="help-block">
                                    {% for error in form.nombre.vars.errors %}
                                        {{ error.message }} <br/>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* Apellido(s):</label>
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.apellidos, {'attr': {'class': 'form-control  input-sm'} }) }}
                            {% if form.apellidos.vars.errors|length > 0 %}
                                <p class="help-block">
                                    {% for error in form.apellidos.vars.errors %}
                                        {{ error.message }} <br/>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label des">Empresa o negocio:</label>
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.empresa, {'attr': {'class': 'form-control  input-sm'} }) }}
                            {% if form.empresa.vars.errors|length > 0 %}
                                <p class="help-block">
                                    {% for error in form.empresa.vars.errors %}
                                        {{ error.message }} <br/>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">Giro:</label>
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.giro, {'attr': {'class': 'form-control  input-sm'} }) }}
                            {% if form.giro.vars.errors|length > 0 %}
                                <p class="help-block">
                                    {% for error in form.giro.vars.errors %}
                                        {{ error.message }} <br/>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">Ciudad:</label>
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.ciudad, {'attr': {'class': 'form-control  input-sm'} }) }}
                            {% if form.ciudad.vars.errors|length > 0 %}
                                <p class="help-block">
                                    {% for error in form.ciudad.vars.errors %}
                                        {{ error.message }} <br/>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">Provincia/Estado:</label>
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.estado, {'attr': {'class': 'form-control  input-sm'} }) }}
                            {% if form.estado.vars.errors|length > 0 %}
                                <p class="help-block">
                                    {% for error in form.estado.vars.errors %}
                                        {{ error.message }} <br/>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label des">Código Postal:</label>
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.cp, {'attr': {'class': 'form-control  input-sm'} }) }}
                            {% if form.cp.vars.errors|length > 0 %}
                                <p class="help-block">
                                    {% for error in form.cp.vars.errors %}
                                        {{ error.message }} <br/>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label">* Teléfono (con lada):</label>
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.telefono, {'attr': {'class': 'form-control  input-sm'} }) }}
                            {% if form.telefono.vars.errors|length > 0 %}
                                <p class="help-block">
                                    {% for error in form.telefono.vars.errors %}
                                        {{ error.message }} <br/>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <span>
                            <label class="control-label checkbox-inline">
                                <input type="checkbox" required>
                                Acepto los <a href="{{ path('privacy') }}" target="_blank">Términos y Condiciones</a>
                            </label>
                        </span>
                    </div>
                {{ form_widget(form.enviar, {'attr': {'class ': 'btn btn-primary btn-sm'} }) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}