{% extends '@Frontend/layout.html.twig' %}

{% block metas %}
    <meta name="keywords" content="raloy,lubricantes,original">
    <meta name="description" content="Raloy Lubricantes - Lubricante Utilizado por Equipos Originales al mejor Costo Beneficio.">
{% endblock %}

{% block opengraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Raloy Lubricantes" />
    <meta property="og:description" content="Lubricante Utilizado por Equipos Originales al mejor Costo Beneficio." />
    <meta property="og:image" content="{{ absolute_url(asset('assets/images/logo.png')) }}" />
{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/libs/ekko-lightbox/ekko-lightbox.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/libs/ekko-lightbox/ekko-lightbox.js') }}"></script>
    <script type="text/javascript">
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container content">
        <div class="row" id="carousel">
            <div class="col-xs-12">
                <div class="carousel slide" data-ride="carousel" id="carousel-1">
                    <div class="carousel-inner" role="listbox">
                        {% for banner in banners %}
                            <div class="item {% if loop.first %}active{% endif %}">
                                {% if banner.linkYoutube is not null %}
                                    {% if 'youtube' in banner.linkYoutube or 'youtu' in banner.linkYoutube %}
                                        <a href="{{ banner.linkYoutube }}" data-toggle="lightbox" data-title="{{ banner.nombre }}" {% if banner.descripcion is not null %}data-footer="{{ banner.descripcion }}"{% endif %}><img src="{{ asset('uploads/images/'~banner.imagen) }}" alt="{{ banner.nombre }}"></a>
                                    {% endif %}
                                {% else %}
                                    <img src="{{ asset('uploads/images/'~banner.imagen) }}" alt="{{ banner.nombre }}">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                    <ol class="carousel-indicators carousel-indicators-numbers">
                        {% set i=0 %}
                        {% for banner in banners %}
                            <li data-target="#carousel-1" data-slide-to="{{ i }}" {% if loop.first %}class="active"{% endif %}></li>
                            {% set i=i+1 %}
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 temas">
                <div class="row">
                    {% for i in secciones %}
                        {% if loop.last %}
                        {% else %}
                            <div class="col-sm-6">
                                <h4 class="text-center">{{ i.nombre }}</h4>
                                <div class="temas-div"><img class="img-responsive" src="{{ asset('uploads/images/'~i.imagen) }}">
                                    <div class="temas-text">
                                        <p class="text-justify">{{ i.descripcion }} <a href="{{ i.link }}">Ver más...</a></p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-4 side">
                <div class="row">
                    {% for i in secciones %}
                        {% if loop.last %}
                            <div class="col-sm-12">
                                <h4 class="text-center">{{ i.nombre }}</h4>
                                <div class="temas-div">
                                    <div class="side-text">
                                        <p class="text-justify">{{ i.descripcion }}...</p>
                                    </div>
                                    <img class="img-responsive side-img" src="{{ asset('uploads/images/'~i.imagen) }}">
                                </div>
                                <a href="{{ i.link }}">
                                    <h5 class="text-center">Conocer Más &gt;&gt;</h5>
                                </a>
                            </div>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                    <div class="col-sm-12">
                        <h4 class="text-center">{{ articulo[0].nombre }}</h4>
                        <div class="temas-div">
                            <div class="side-text">
                                <p class="text-justify">{{ articulo[0].contenido|striptags|slice(0, 140) ~'...' }}</p>
                            </div>
                            <img class="img-responsive side-img" src="{{ image }}">
                        </div>
                        <a href="{{ path('articulo',{"slug":articulo[0].slug}) }}">
                            <h5 class="text-center">Conocer Más &gt;&gt;</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}