{% extends '@Frontend/layoutProd.html.twig' %}

{% block opengraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ producto.nombre }} | Raloy Lubricantes" />
    <meta property="og:description" content="{{ producto.descripcion|striptags|convert_encoding('UTF-8','HTML-ENTITIES') }}" />
    <meta property="og:image" content="{{ absolute_url(asset('uploads/images/'~producto.imagen)) }}" />
{% endblock %}

{% block titulo %}{{ producto.nombre }}{% endblock %}
{% block titleStyle %}
    style="background-image: linear-gradient(to bottom,#99d190 0,#31b61d 100%);"
{% endblock %}

{% block facebook %}
    <div class="fb-share-button" data-href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" data-layout="box_count" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}&amp;src=sdkpreparse">
            Compartir
        </a>
    </div>
{% endblock %}

{% block familias %}
    <div class="panel-group" role="tablist" aria-multiselectable="true" id="accordion-1">
        {% set i = 1 %}
        {% for familia in categoria.familias %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-{{ i }}">{{ familia.nombre }}</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse item-{{ i }}" role="tabpanel">
                    <div class="panel-body">
                        {% for producto in familia.productos %}
                            <a href="{{ path('product',{"slug":producto.slug}) }}">{{ producto.nombre }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% set i=i+1 %}
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div class="col-sm-8 col-sm-push-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow product">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="{{ asset('uploads/images/'~producto.imagen) }}" class="zoom" data-toggle="lightbox" data-title="{{ producto.nombre }}">
                                <img class="img-responsive" src="{{ asset('uploads/images/'~producto.imagen) }}">
                            </a>
                            <a href="{{ asset('uploads/images/'~producto.imagen) }}" data-toggle="lightbox">
                                <h5 class="text-center">Agrandar Imagen</h5>
                            </a>
                        </div>
                        <div class="col-xs-8">
                            {{ producto.descripcion|raw }}
                        </div>
                    </div>
                </div>
                <div class="pest box-shadow">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Aplicación</a></li>
                            <li><a href="#tab-2" role="tab" data-toggle="tab">Beneficios</a></li>
                            <li><a href="#tab-3" role="tab" data-toggle="tab">Especificaciones</a></li>
                            <li><a href="#tab-4" role="tab" data-toggle="tab">Presentaciones</a></li>
                            <li><a href="#tab-5" role="tab" data-toggle="tab">Características</a></li>
                            <li><a href="#tab-6" role="tab" data-toggle="tab">Info. Técnica</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-1">
                                {{ producto.aplicacion|raw }}
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-2">
                                {{ producto.beneficios|raw }}
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-3">
                                {{ producto.especificaciones|raw }}
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-4">
                                {{ producto.presentaciones|raw }}
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-5">
                                {{ producto.caracteristicas|raw }}
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-6">
                                {{ producto.info|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sugerencias %}
    <div class="table-responsive">
        <table class="table">
            <tbody>
            {% for sug in mas %}
                <tr>
                    <td><a href="{{ path('product',{"slug":sug.slug}) }}"><img class="img-responsive" src="{{ asset('uploads/images/'~sug.imagen) }}"></a></td>
                    <td><a href="{{ path('product',{"slug":sug.slug}) }}"><span>{{ sug.nombre }}</span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}