{% extends '@Frontend/layoutProd.html.twig' %}

{% block opengraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Producto SYN-TEC | Raloy Lubricantes" />
    <meta property="og:description" content="Raloy Syn-Tec Platinum SAE 0W-20 es un aceite 100% sintético, diseñado para
     satisfacer la última generación de lubricantes Resource Conserving (RC), el cual excede en protección a los
     lubricantes de base mineral." />
    <meta property="og:image" content="{{ asset('assets/images/logo.png') }}" />
{% endblock %}

{% block titulo %}SYN-TEC PLATINUM SAE 0W-20 API SN/GF-5{% endblock %}
{% block titleStyle %}
    style="background-image: linear-gradient(to bottom,#99d190 0,#31b61d 100%);"
{% endblock %}

{% block familias %}
    <div class="panel-group" role="tablist" aria-multiselectable="true" id="accordion-1">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-1">SYN-TEC PLATINUM</a>
                </h4>
            </div>
            <div class="panel-collapse collapse item-1" role="tabpanel">
                <div class="panel-body">
                    <a href="{{ path('product',{"slug":"syn tec platinum 0w 20"|replace({' ':'-'})}) }}">SYN-TEC PLATINUM SAE 0W-20 API SN/GF-5</a>
                    <a href="{{ path('product',{"slug":"syn tec platinum 5w 30"|replace({' ':'-'})}) }}">SYN-TEC PLATINUM SAE 5W-30 API SN/GF-5</a>
                    <a href="{{ path('product',{"slug":"syn tec platinum 5w 40"|replace({' ':'-'})}) }}">SYN-TEC PLATINUM SAE 5W-40 API SN</a>
                    <a href="{{ path('product',{"slug":"syn tec platinum 5w 50"|replace({' ':'-'})}) }}">SYN-TEC PLATINUM SAE 5W-50 API SN</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-2">RACING TURBO MULTIGRADE</a>
                </h4>
            </div>
            <div class="panel-collapse collapse item-2" role="tabpanel">
                <div class="panel-body">
                    <a href="{{ path('product',{"slug":"racing turbo sae 10w 30"|replace({' ':'-'})}) }}">RACING TURBO SAE 10W-30 API SN</a>
                    <a href="{{ path('product',{"slug":"racing turbo sae 15w 40"|replace({' ':'-'})}) }}">RACING TURBO SAE 15W-40 API SN</a>
                    <a href="{{ path('product',{"slug":"racing turbo sae 20w 50"|replace({' ':'-'})}) }}">RACING TURBO SAE 20W-50 API SN</a>
                    <a href="{{ path('product',{"slug":"racing turbo sae 5w 30"|replace({' ':'-'})}) }}">RACING TURBO SAE 5W-30 API SN</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-3">RACING MULTIGRADE OIL</a>
                </h4>
            </div>
            <div class="panel-collapse collapse item-3" role="tabpanel">
                <div class="panel-body">
                    <a href="{{ path('product',{"slug":"racing multigrade oil sae 10w 30"|replace({' ':'-'})}) }}">RACING MULTIGRADE OIL SAE 10W-30 API SL</a>
                    <a href="{{ path('product',{"slug":"racing multigrade oil sae 15w 40"|replace({' ':'-'})}) }}">RACING MULTIGRADE OIL SAE 15W-40 API SL</a>
                    <a href="{{ path('product',{"slug":"racing multigrade oil sae 20w 50"|replace({' ':'-'})}) }}">RACING MULTIGRADE OIL SAE 20W-50 API SL</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-4">RACING MONOGRADE OIL</a>
                </h4>
            </div>
            <div class="panel-collapse collapse item-4" role="tabpanel">
                <div class="panel-body">
                    <a href="{{ path('product',{"slug":"racing oil monograde sae 40"|replace({' ':'-'})}) }}">RACING OIL MONOGRADE SAE 40 API SL</a>
                    <a href="{{ path('product',{"slug":"racing oil monograde sae 50"|replace({' ':'-'})}) }}">RACING OIL MONOGRADE SAE 50 API SL</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-5">AK POWER</a>
                </h4>
            </div>
            <div class="panel-collapse collapse item-5" role="tabpanel">
                <div class="panel-body">
                    <a href="{{ path('product',{"slug":"raloy ak power sae 25w 50"|replace({' ':'-'})}) }}">RALOY AK POWER SAE 25W-50 API SL</a>
                    <a href="{{ path('product',{"slug":"raloy ak power suvs 20w 60"|replace({' ':'-'})}) }}">RALOY AK POWER SUV'S SAE 20W-60 API SL</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-sm-8 col-sm-push-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow product">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="{{ asset('assets/images/SYN-TEC_SAE_0W-20.png') }}" class="zoom" data-toggle="lightbox" data-title="titulo" data-footer="caption">
                                <img class="img-responsive" src="{{ asset('assets/images/SYN-TEC_SAE_0W-20.png') }}">
                            </a>
                            <a href="{{ asset('assets/images/SYN-TEC_SAE_0W-20.png') }}" data-toggle="lightbox">
                                <h5 class="text-center">Agrandar Imagen</h5>
                            </a>
                        </div>
                        <div class="col-xs-8">
                            <p class="text-justify">Raloy Syn-Tec Platinum SAE 0W-20 es un aceite 100% sintético, diseñado para satisfacer la última generación de lubricantes Resource Conserving (RC), el cual excede en protección a los lubricantes de base mineral.</p>
                            <p>Debido a su avanzada tecnología de aceites básicos sintéticos y su paquete de aditivos especial de alto rendimiento, ofrece una protección única a los motores a gasolina modernos, el cual se adhiere a los mecanismos
                                con tal tenacidad, que no se desplaza en áreas de extrema presión, permaneciendo aun después de apagado el motor, asegurando una protección adecuada al momento del encendido. </p>
                        </div>
                    </div>
                </div>
                <div class="pest box-shadow">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Aplicación</a></li>
                            <li><a href="#tab-2" role="tab" data-toggle="tab">Beneficios</a></li>
                            <li><a href="#tab-3" role="tab" data-toggle="tab">Especificaciones</a></li>
                            <li><a href="#tab-4" role="tab" data-toggle="tab">Presentaciones</a></li>
                            <li><a href="#tab-5" role="tab" data-toggle="tab">Características</a></li>
                            <li><a href="#tab-6" role="tab" data-toggle="tab">Info. Técnica</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-1">
                                <p class="text-justify">Raloy Syn-Tec Platinum SAE 0W-20 está especialmente diseñado para la lubricación de las últimas generaciones de motores a gasolina 2011 americanos, europeos y asiáticos que requieran aceites sintéticos con este
                                    nivel de servicio API SN/GF-5 así como vehículos híbridos que operan con combustible Etanol hasta E85. </p>
                                <p>Para utilización en cualquier tipo de vehículos que circulan en ciudad, carretera y autopista. </p>
                                <p>La nueva tecnología que se ha incorporado en esta última generación de lubricantes permite cumplir y exceder los requerimientos de los fabricantes de equipo original (OEM). </p>
                                <p>Cumple con los requisitos de los estándares de General Motors dexos1 para motores a Gasolina. </p>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-2">
                                <ul>
                                    <li> Ahorros considerables en combustible.</li>
                                    <li>Muy baja volatilidad, reduciendo el consumo de lubricante.</li>
                                    <li>Excepcional arranque rápido en climas fríos debido a su baja viscosidad, lo que disminuye el desgaste en el encendido del motor.</li>
                                    <li>Mantiene siempre limpio el motor.</li>
                                    <li>Ecológico, debido a la menor cantidad de aceite de desecho.</li>
                                    <li>Excepcional resistencia al espesamiento por oxidación.</li>
                                    <li>Bajo coeficiente de fricción.</li>
                                    <li>Excelente protección contra la herrumbre y la corrosión.</li>
                                    <li>Alta Protección contra depósitos.</li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-3">
                                <p>Raloy Syn-Tec Platinum SAE 0W-20 está aprobado por los requerimientos de las siguientes especificaciones:</p>
                                <ul>
                                    <li>API SN</li>
                                    <li>ILSAC GF-5</li>
                                    <li>RC (Resource Conserving)</li>
                                    <li>PEMEX Refinación Reg.: PXR-SC-GVES-SAFP-SPTF-23-2015</li>
                                </ul>
                                <p>Cumple y satisface los requerimientos de las siguientes especificaciones:</p>
                                <ul>
                                    <li>GM dexos1</li>
                                    <li>GM 4718M</li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-4">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <ul>
                                            <li>Caja 6 botellas 946 mL.</li>
                                            <li>Cubeta 19 L.</li>
                                            <li>Tambor 200 L.</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-6">
                                        <img class="img-responsive" src="{{ asset('assets/images/Tambor-Cubeta-Botella.png') }}">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-5">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Características Típicas Pruebas</th>
                                            <th>Método ASTM</th>
                                            <th>Resultados </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Grado de Viscosidad SAE</td>
                                            <td>J300</td>
                                            <td>0W-20</td>
                                        </tr>
                                        <tr>
                                            <td>Apariencia</td>
                                            <td>IT-08-04</td>
                                            <td>Brillante</td>
                                        </tr>
                                        <tr>
                                            <td>Color ASTM</td>
                                            <td>D-1500</td>
                                            <td>L3.0</td>
                                        </tr>
                                        <tr>
                                            <td>Densidad @ 20 ºC, g/mL.</td>
                                            <td>D-1298</td>
                                            <td>0.8480</td>
                                        </tr>
                                        <tr>
                                            <td>Viscosidad Cinemática @ 40 °C, mm2/s (cSt)</td>
                                            <td>D-445</td>
                                            <td>39.00</td>
                                        </tr>
                                        <tr>
                                            <td>Viscosidad Cinemática @ 100 °C, mm2/s (cSt)</td>
                                            <td>D-445</td>
                                            <td>7.450</td>
                                        </tr>
                                        <tr>
                                            <td>Índice de Viscosidad</td>
                                            <td>D-2270</td>
                                            <td>161</td>
                                        </tr>
                                        <tr>
                                            <td>Número Base (BN), mg KOH/g.</td>
                                            <td>D-2896</td>
                                            <td>7.8</td>
                                        </tr>
                                        <tr>
                                            <td>Temperatura de Inflamación, ºC</td>
                                            <td>D-92</td>
                                            <td>228</td>
                                        </tr>
                                        <tr>
                                            <td>Temperatura de Escurrimiento, ºC</td>
                                            <td>D-97</td>
                                            <td>-49</td>
                                        </tr>
                                        <tr>
                                            <td>Viscosidad Aparente (C.C.S.); @ -35 ºC, cP.</td>
                                            <td>D-5293</td>
                                            <td>6200</td>
                                        </tr>
                                        <tr>
                                            <td>Cenizas Sulfatadas, %</td>
                                            <td>D-874</td>
                                            <td>0.85</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="text-justify">Los resultados indicados como Características Típicas del aceite se refieren solamente a valores promedio. Se podrán esperar pequeñas variaciones en estos valores durante su fabricación, las cuales no afectarán
                                    el desempeño del producto. Esta hoja técnica está sujeta a cambio sin previo aviso. Para conocer la última versión comuníquese al Área Técnica o consulte nuestra página de internet www.raloy.com.mx. Empresa
                                    certificada por ISO 9001 e ISO TS16949; Laboratorio acreditado por EMA Q-0268-053/11 y EE-0271-013/11 (ISO/IEC 17025:2005).</p>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-6">
                                <p class="text-justify">Para conocer más características de este producto, así como su manejo adecuado, puede descargar la Hoja Técnica y Hoja de Seguridad, archivos en formato PDF compatibles con cualquier navegador web. </p>
                                <ul>
                                    <li>Hoja Técnica <a href="{{ asset('assets/files/Raloy_Syn-Tec_Platinum_SAE_0W-20_API_SN.pdf') }}" target="_blank">[Descargar]</a></li>
                                    <li>Hoja de Seguridad <a href="{{ asset('assets/files/Raloy_Syn-Tec_Platinum_SAE_0W-20_API_SN.pdf') }}" target="_blank">[Descargar]</a></li>
                                </ul>
                                <p>*Se requiere Adobe Reader 7 o porterior. Si no tiene instalado Adobe Reader, puede descargarlo en este <a href="https://get.adobe.com/es/reader/" target="_blank">enlace</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sugerencias %}
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <td><a href="{{ path('product',{"slug":"syn tec platinum 5w 30"|replace({' ':'-'})}) }}"><img class="img-responsive" src="{{ asset('assets/images/SYN-TEC_SAE_5W-30.png') }}"></a></td>
                <td><a href="{{ path('product',{"slug":"syn tec platinum 5w 30"|replace({' ':'-'})}) }}"><span>SYN-TEC PLATINUM SAE 5W-30 API SN/GF-5 </span></a></td>
            </tr>
            <tr>
                <td><a href="{{ path('product',{"slug":"syn tec platinum 5w 40"|replace({' ':'-'})}) }}"><img class="img-responsive" src="{{ asset('assets/images/SYN-TEC_SAE_5W-40.png') }}"></a></td>
                <td><a href="{{ path('product',{"slug":"syn tec platinum 5w 40"|replace({' ':'-'})}) }}"><span>SYN-TEC PLATINUM SAE 5W-40 API SN</span></a></td>
            </tr>
            <tr>
                <td><a href="{{ path('product',{"slug":"syn tec platinum 5w 50"|replace({' ':'-'})}) }}"><img class="img-responsive" src="{{ asset('assets/images/SYN-TEC_SAE_5W-50.png') }}"></a></td>
                <td><a href="{{ path('product',{"slug":"syn tec platinum 5w 50"|replace({' ':'-'})}) }}"><span>SYN-TEC PLATINUM SAE 5W-50 API SN</span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}